<h1>Super cocktails</h1>

<ol>
  <% @cocktails.each do |cocktail| %>
  <li>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </li>
    <% end %>
</ol>

<%= link_to "New cocktail", new_cocktail_path %>
