
<div class="container">
  <div class="row justify-content-md-center">
     <div class="col-md-auto">
      <h1><%= @cocktail.name %></h1>
      <%= link_to "Back to cocktails", cocktails_path  %>
      / <%= link_to "Edit", edit_cocktail_path(@cocktail)  %>
      / <%= link_to "Delete", cocktail_path(@cocktail) %>
     </div>
  </div>
</div>


